header {
    top: 0px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 25px 9%;
    padding: 0;
    background: rgb(204,204,204);
    background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(247,247,247,1) 67%, rgba(255,255,255,1) 100%);
}
header img {
    transform: scale(0.8);
}

.cabeza {
    z-index: 1;
}