.bottom-text {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #939aa1;
    margin-top: 1rem;
    padding-bottom: 30px;
    background: rgb(215,215,215);
    background: radial-gradient(circle, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 100%);
}

.social {
    padding: 10px 10px;
}

.social i{
    display: inline-block;
    font-size: 25px;
    color: #939aa1;
    margin-right: 15px;
    transition: all ease .55s;
}

.social i:hover{
    transform: scale(1.08) translateY(-4px);

}